Source/LevelFormat/container.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="types.xsd"/>
    <xsd:element name="Container">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Level" minOccurs="0">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="Gravity" type="Vector3"/>
                            <xsd:element name="Ambient" type="Color3" minOccurs="0"/>
                            <xsd:element name="Data" type="xsd:string" minOccurs="0"/>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Container" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:group ref="Transformation"/>
                        <xsd:attribute name="src" type="xsd:string" use="required"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Objects">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="RigidObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseObject"/>
                                        <xsd:choice>
                                            <xsd:element name="PhysicsBody" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="collisionShape" type="xsd:string" use="required"/>
                                                    <xsd:attribute name="mass" type="NonNegativeScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Model" type="Resource" minOccurs="1"/>
                                            <xsd:element name="TextureAnimation" type="ScalarList" minOccurs="0"/>
                                            <xsd:element name="Integrity" type="xsd:decimal" minOccurs="0"/>
                                            <xsd:element name="AngularVelocity" type="Vector3" minOccurs="0"/>
                                            <xsd:element name="LinearVelocity" type="Vector3" minOccurs="0"/>
                                            <xsd:element name="AngularFactor" type="Vector3" minOccurs="0"/>
                                            <xsd:element name="LinearFactor" type="Vector3" minOccurs="0"/>
                                            <xsd:element name="Damping" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:attribute name="angular" type="xsd:decimal" use="required"/>
                                                    <xsd:attribute name="linear" type="xsd:decimal" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="LightObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="LightObject"/>
                                        <xsd:choice>
                                            <xsd:element name="Bounds" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="omniDirectional" type="xsd:boolean" use="required"/>
                                                    <xsd:attribute name="range" type="PositiveScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="type" fixed="positional" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="LightObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="LightObject"/>
                                        <xsd:choice>
                                            <xsd:element name="Bounds" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="cutoff" type="PositiveScalar" use="required"/>
                                                    <xsd:attribute name="range" type="PositiveScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="type" fixed="spot" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="LightObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="LightObject"/>
                                        <xsd:choice>
                                            <xsd:element name="Bounds" type="Vector3" minOccurs="1"/>
                                        </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="type" fixed="directional" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="SoundObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseObject"/>
                                        <xsd:choice>
                                            <xsd:element name="SoundTrack" type="Resource" minOccurs="1"/>
                                            <xsd:element name="Mode" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:attribute name="value" use="required">
                                                        <xsd:simpleType>
                                                            <xsd:restriction base="xsd:string">
                                                                <xsd:enumeration value="looping"/>
                                                                <xsd:enumeration value="hold"/>
                                                                <xsd:enumeration value="dispose"/>
                                                            </xsd:restriction>
                                                        </xsd:simpleType>
                                                    </xsd:attribute>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Volume" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:attribute name="value" type="NonNegativeScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="IsPlaying" minOccurs="0"/>
                                            <xsd:element name="TimeOffset" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:attribute name="value" type="NonNegativeScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="CamObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseObject"/>
                                        <xsd:choice>
                                            <xsd:element name="Bounds" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="fov" type="NonNegativeScalar" use="required"/>
                                                    <xsd:attribute name="near" type="PositiveScalar" use="required"/>
                                                    <xsd:attribute name="far" type="PositiveScalar" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ParticlesObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseObject"/>
                                        <xsd:choice>
                                            <xsd:element name="PhysicsBody" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="collisionShape" type="xsd:string" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Texture" type="Resource" minOccurs="1"/>
                                            <xsd:element name="Life" type="ScalarRange" minOccurs="1"/>
                                            <xsd:element name="Size" type="ScalarRange" minOccurs="1"/>
                                            <xsd:element name="SpawnBox" type="Vector3Range" minOccurs="1"/>
                                            <xsd:element name="Velocity" type="Vector3Range" minOccurs="1"/>
                                            <xsd:element name="Force" type="Vector3" minOccurs="0"/>
                                            <xsd:element name="TransformAligned" minOccurs="0"/>
                                        </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="particles" type="xsd:positiveInteger" use="required"/>
                                    <xsd:attribute name="systemLife" type="NonNegativeScalar"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="TerrainObject" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseObject"/>
                                        <xsd:choice>
                                            <xsd:element name="PhysicsBody" minOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute name="collisionShape" type="xsd:string" use="required"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Diffuse" type="Resource" minOccurs="1"/>
                                            <xsd:choice>
                                                <xsd:element name="HeightsMap" type="Resource"/>
                                                <xsd:element name="Heights">
                                                    <xsd:complexType>
                                                        <xsd:simpleContent>
                                                            <xsd:extension base="xsd:hexBinary">
                                                                <xsd:attribute name="width" type="xsd:positiveInteger" use="required"/>
                                                                <xsd:attribute name="length" type="xsd:positiveInteger" use="required"/>
                                                            </xsd:extension>
                                                        </xsd:simpleContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:choice>
                                            <xsd:element name="Bounds" type="Vector3" minOccurs="1"/>
                                            <xsd:element name="TextureScale" type="Vector2" minOccurs="1"/>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Links">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="BaseLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:group ref="BaseLink"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="TransformLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:group ref="BaseLink"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Point" type="Vector3" minOccurs="2" maxOccurs="2"/>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="point" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Axis" type="Vector3" minOccurs="2" maxOccurs="2"/>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="gear" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Frame" minOccurs="2" maxOccurs="2">
                                                        <xsd:complexType>
                                                            <xsd:group ref="Transformation"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="AngularLimit" type="ScalarRange" minOccurs="0"/>
                                                    <xsd:element name="AngularMotor" type="PhysicsMotor" minOccurs="0"/>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="hinge" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Frame" minOccurs="2" maxOccurs="2">
                                                        <xsd:complexType>
                                                            <xsd:group ref="Transformation"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="AngularLimit" type="ScalarRange" minOccurs="0"/>
                                                    <xsd:element name="AngularMotor" type="PhysicsMotor" minOccurs="0"/>
                                                    <xsd:element name="LinearLimit" type="ScalarRange" minOccurs="0"/>
                                                    <xsd:element name="LinearMotor" type="PhysicsMotor" minOccurs="0"/>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="slider" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Frame" minOccurs="2" maxOccurs="2">
                                                        <xsd:complexType>
                                                            <xsd:group ref="Transformation"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="AngularLimit" type="Vector3Range" minOccurs="0"/>
                                                    <xsd:element name="LinearLimit" type="Vector3Range" minOccurs="0"/>
                                                    <xsd:element name="Motor" minOccurs="0" maxOccurs="6">
                                                        <xsd:complexType>
                                                            <xsd:attribute name="index" type="Dof6Axis" use="required"/>
                                                            <xsd:attributeGroup ref="PhysicsMotorAttributes"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="Spring" minOccurs="0" maxOccurs="6">
                                                        <xsd:complexType>
                                                            <xsd:attribute name="index" type="Dof6Axis" use="required"/>
                                                            <xsd:attribute name="stiffness" type="xsd:decimal"/>
                                                            <xsd:attribute name="damping" type="xsd:decimal"/>
                                                            <xsd:attribute name="equilibrium" type="xsd:decimal"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="dof6" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PhysicLink" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="BaseLink"/>
                                        <xsd:element name="Constraint">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Frame" minOccurs="2" maxOccurs="2">
                                                        <xsd:complexType>
                                                            <xsd:group ref="Transformation"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="AngularLimit" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:attribute name="radiusA" type="xsd:decimal" use="required"/>
                                                            <xsd:attribute name="radiusB" type="xsd:decimal" use="required"/>
                                                            <xsd:attribute name="twist" type="xsd:decimal" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="xsd:string" fixed="coneTwist" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
	</xsd:element>
</xsd:schema>
